In [1]:
import duckdb

import pandas as pd

In [2]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

In [3]:
%%sql
create or replace table dataset as 
select 
    *
from read_csv_auto('/home/martiweil96/buckets/b1/datasets/competencia_02.csv.gz')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [5]:
campos = [ 'Visa_mpagado']

nuevos_features = ""
for campo in campos:
  nuevos_features += f"\n, lag({campo}, cliente_antiguedad) over ventana_6 as {campo}_lag"
print(nuevos_features)

, lag(Visa_mpagado, cliente_antiguedad) over ventana_6 as Visa_mpagado_lag

In [6]:
%%sql
create or replace table dataset_2 as
select *, lag(Visa_mpagado) over (partition by numero_de_cliente order by foto_mes) AS Visa_mpagado_lag from
dataset

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [7]:
%%sql
COPY dataset_2 TO '/home/martiweil96/buckets/b1/datasets/competencia_02_fe.csv.gz' (FORMAT CSV, HEADER)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []